.CartProductCard_container {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    max-width: 350px;
}
.CartProductCard_amountRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: -20px;
}
.CartProductCard_select {
  width: 81px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
