.Login_container {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: calc(100vh - 139px);
}

.Login_title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 50px;
}
.Login_form {
  width: 80%;
  margin: auto;
  max-width: 350px;
}
.Login_container input {
  border-radius: 5px;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.Login_signupLabel {
  text-decoration: underline;
  color: #231F20;
  margin-top: 20px;
  display: block;
}

.Login_container img {
    width: 200px;
    margin-top: 50px;
}

@media (min-width: 992px) {
  .Login_container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

