.Signup_container {
  color: #231f20;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: calc(100vh - 139px);
}

.Signup_title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.Signup_confirmationTitle {
  margin-bottom: 10px;
}

.Signup_subtitle {
  width: 100%;
  max-width: 400px;
  margin: auto;
  font-size: 1rem;
  margin-bottom: 50px;
}

.Signup_form {
  width: 80%;
  margin: auto;
  max-width: 350px;
}
.Signup_container input {
  border-radius: 5px;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-color: #231f20;
}

.Signup_container img {
  width: 200px;
  margin-top: 50px;
}

.Signup_error {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}

@media (min-width: 992px) {
  .Signup_container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
